.custom-button {
    border: none;
    background-color: #0E6BA8;
    color: #fff;
    padding: 12px 16px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    max-width: 80px;
    font-size: 0.7rem;
}

.custom-button:hover {
    background-color: #E09F3E;
    color: #fff;
}