.sidebar {
    display: none;
    width: 300px;
    height: 100%;
    background-color: #a01010;
    padding: 10px;
}

.sidebar .item-sidebar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar .item-sidebar a {
    text-decoration: none;
    padding: 8px;
    width: 100%;
    color: #FFF; 
}

.sidebar .item-sidebar a:hover,
.sidebar .item-sidebar a:focus {
    color: white;
    background-color: #E09F3E;
    border-radius: 4px;
}

@media (min-width: 1024px) {
    .sidebar {
        display: flex;
        flex-direction: column;
    }
}