* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  padding: 20px 20px 80px 20px ;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  border-radius: 8px;
  width: 100%;
  
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 10px;
}

@media (min-width: 1025px) {
  .container {
    flex-direction: row-reverse;
  }

  .main {
    flex: 1;
  }

  .card-container {
    width: auto;
    justify-content: space-around;
  }
}